html, body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.wrapper {
  min-height: 100%;
  /* Equal to height of footer */
  /* But also accounting for potential margin-bottom of last child */
  margin-bottom: -50px;
}

.footer,
.push {
  height: 50px;
}

h1 {
    text-align: center;
    color: cornflowerblue;
  }
  
  h2 {
    text-align: center;
    color: lightskyblue;
  }

  p {
    text-align: center;
    color: black;
  }